/*===========COSTUM CSS===========*/
:root {
  --FIRST-COLOR: #120851;
  --SECOND-COLOR: #4c57d6;
  --THIRD-COLOR: #f2f2f2;
  --FIRST-DARKER: #0b052f;
  --FIRST-MID: #120851;
}
html {
  scroll-behavior: smooth;
}
/*==========MAIN NAVBAR==========*/
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

nav {
  background: var(--FIRST-COLOR);
}

.navbar-nav a {
  color: var(--THIRD-COLOR);
  margin-right: 1rem;
}
.navbar-nav a:hover {
  color: var(--SECOND-COLOR) !important;
}

.container-fluid {
  margin: 0 14%;
}

.active {
  color: var(--SECOND-COLOR) !important;
}
.top-nav {
  padding: 0.3em 0.9em;
}

.nav-btm a {
  color: #000 !important;
}

.top a {
  font-size: 0.8rem !important;
  cursor: pointer;
}

.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important ;
}

.bi.bi-list {
  color: #fff;
  font-size: 2rem;
}
.sign {
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.5rem 2rem !important;
}

.sign:hover {
  background-color: var(--THIRD-COLOR);
  color: #000 !important;
}
/*==========MAIN SECTION=========*/
#main {
  background-image: url(/img/main/hero-1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@keyframes floatPattern {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.main,
.discount,
.text {
  animation: floatPattern 2s ease-in-out infinite;
}

.row {
  margin: auto 10%;
}

.img-fluid {
  margin-bottom: 25% !important;
}

.btn {
  background-color: var(--SECOND-COLOR);
  color: #fff;
  border-radius: 2rem;
  font-weight: 700;
}
/*===========DOMAIN REGISTRE=========*/
#domain {
  margin: 10% auto;
}

.price {
  display: flex;
  justify-content: space-evenly;
}

.price span {
  color: var(--SECOND-COLOR);
}

.form-control {
  border-color: var(--FIRST-MID) !important;
  width: 700px !important;
  border-width: 0.1rem;
}

.wave {
  margin-left: 45%;
}

.btn.search {
  background-color: var(--SECOND-COLOR) !important;
}

.btn.search:hover {
  color: #f2f2f2;
  opacity: 0.8;
}

/*==========HOSTING TYPE==========*/
#hosting {
  margin-top: 10%;
  padding: 10% 5% !important;
  background-color: rgba(189, 197, 197, 0.147);
}

.subtitle {
  color: var(--SECOND-COLOR);
}

.hostbtn {
  text-decoration: none;
  color: var(--FIRST-COLOR);
  opacity: 0.8;
}

.hostbtn:hover {
  opacity: 1;
}

.card {
  box-shadow: 0px 0px 10px rgba(18, 8, 81, 0.15);
}

.card:hover {
  -webkit-box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
  box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
}

/*-==========PLAN CARDS==========*/
#plan {
  margin: 12% auto;
}
.pricebox {
  background-color: var(--FIRST-COLOR);
  overflow: visible;
  width: 299px;
  border-radius: 0.6rem;
  margin-left: -0.6rem;
}
.plancard {
  border: 0.3px solid #44444447;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 1px #888;
}
.plancard:hover {
  -webkit-box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
  box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
}
.plancard:hover .pricebox {
  background: #4c57d6;
}
.plancard:hover .planbtn {
  background: #4c57d6 !important;
}
.planbtn {
  background-color: var(--FIRST-MID) !important;
  color: #f9f9f9 !important;
}
.btnborder {
  border-radius: 2rem !important;
  padding: 0.1rem;
}
.checkbox {
  width: 223px;
  height: 60px;
  background-color: #d0d0d0;
  border-radius: 30px;
  position: relative;
  color: black;
  overflow: hidden;
}
#checkbox_toggle {
  display: none;
}

.checkbox .toggle {
  width: 100px;
  height: 50px;
  position: absolute;
  border-radius: 30px;
  left: 5px;
  cursor: pointer;
  background: linear-gradient(40deg, #4c57d6, #4c57d6 70%);
  transition: 0.4s;
  box-shadow:
    0px 0px 3px #4c57d6,
    0px 0px 5px #4c57d6;
}

.checkbox .slide {
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
/* checkbox active */
.checkbox .slide .text {
  font-size: 16px;
  font-weight: 700;
  z-index: 100;
  cursor: pointer;
  animation: none;
}

.check:checked + .checkbox .slide .toggle {
  transform: translateX(113px);
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
  box-shadow:
    -0px -0px 10px #8983f7,
    -0px -0px 3px #8983f7;
}

.check:checked + .checkbox .slide {
  background-color: #0a1929;
  color: #fff;
}

/*==========ACHIVMENTS + FLOATING CARD==========*/
#achivments {
  background-image: url(/img/achievement-bg.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 18%;
}
.bi-person,
.bi-pencil-square,
.bi-database,
.bi-gear,
.bi-handbag,
.bi-laptop {
  font-size: 3rem;
  color: var(--SECOND-COLOR);
}
.content2 {
  padding-top: 120px;
  padding-bottom: 320px;
}
.box {
  position: absolute;
  top: 60%;
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Background color with transparency */
  padding: 20px;
  border-radius: 0rem;
  box-shadow: 0px 8px 30px rgba(18, 8, 81, 0.2);
  margin: 0 10%;
}

.box p {
  color: var(--SECOND-COLOR);
}

/*==========DISCOUNT SECTION==========*/
#discount {
  margin-top: 10%;
}
.bi-check {
  font-size: 1.4rem;
  color: var(--SECOND-COLOR);
}
/*-==========FOOTER==========*/
#footer {
  background-color: var(--FIRST-DARKER);
  margin-top: 10%;
  padding-top: 8%;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 8%;
  background-image: url(/img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
#footer li {
  font-size: 0.85rem;
  font-weight: 100;
}
.info {
  margin-top: 10%;
}
.footericons {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}
.footericons i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.btn {
  background-color: var(--FIRST-COLOR) !important;
}

/*============QUERIES============*/
@media screen and (max-width: 767px) {
  .logo {
    width: 170px;
  }
  h3 {
    font-size: 1.4rem !important;
  }
  h2,
  h6 {
    font-size: 1rem;
  }
  .top-nav {
    display: none;
  }
  .container-fluid {
    margin: auto 2%;
  }
  .row {
    text-align: center;
  }
  .paragraph {
    margin-top: 10%;
  }
  .sign {
    border: 1px solid var(--SECOND-COLOR);
    padding: 5px !important;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
  }
  .second {
    font-size: 0.8rem;
  }
  .price p {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem !important;
  }
  .wave {
    margin-left: 39%;
  }
  .btn.search {
    width: 80px;
    font-size: 0.6rem;
    font-weight: bold;
  }
  #hosting {
    margin: 10% auto;
    padding: 0 !important;
  }
  .hostxt {
    font-size: 1rem;
    padding-top: 10%;
  }
  .pricebox {
    overflow: hidden;
    margin-left: 0;
    width: 100%;
  }
  .plan {
    justify-content: center !important;
  }
  #achivments {
    background-size: cover;
    background-position: center;
    height: 135vh;
  }
  .box {
    display: none;
  }
  .footericons {
    margin-left: 0;
    margin-bottom: 2.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .pricebox {
    overflow: hidden;
    margin-left: 0;
    width: 100%;
  }
  .top-nav {
    display: none;
  }
  .sign {
    width: 85%;
    margin-left: 5%;
    align-items: center;
    text-align: center;
  }
  #achivments {
    height: 65vh;
  }
  .content2 {
    padding-top: 40%;
  }
  .box {
    display: none;
  }
  #footer {
    font-size: 0.5rem !important;
  }
  .footericons {
    margin-bottom: 2rem;
  }
  .information img {
    width: 150px;
  }
  .map {
    width: 300px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1500px) {
  .navbar-nav a {
    margin: 0rem;
  }
  .sign {
    width: 20%;
    padding: 5px 14px !important;
    font-size: 1rem;
  }
  .pricebox {
    overflow: hidden;
    margin-left: 0;
    width: 100%;
  }
  .map {
    width: 475px;
  }
}
